.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.centered-errors {
    width: fit-content;
    margin: 0 auto;
    float: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

li a:hover {
    color: white;
    border: 1px solid white;
    text-decoration: none;
}

.mobile-menu {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin: 25px 25px 0 0;
    z-index: 2;
}

.mobile-menu:hover {
    color: white;
}

.row.rsvp-form-section {
    margin-bottom: 75px !important;
}

#reception.row {
    padding-bottom: 75px !important;
}

#updates.row {
    padding-bottom: 50px !important;
}

#registry.row {
    margin-bottom: 75px !important;
}

.form-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-card {
    padding: 0px 30px 20px 30px;
    border-radius: 10px;
    background-color: #bd747f99;
}

.btn-primary.red-theme {
    background-color: #5e1823;
    border-color: #5e1823;
}

.btn-primary.red-theme:hover {
    background-color: #5e1823c7;
    border-color: #5e1823c7;
}

.btn-primary.red-theme:not(:disabled):not(.disabled):active {
    background-color: #5e1823c7;
    border-color: #5e1823c7;
}

@media(min-width: 745px) {
    .mobile-menu {
        display: none;
    }
}

@media(max-width: 745px) {
    .menu:not(.open) li:not(.important) {
        display: none;
    }

    .menu:not(.open) li.important {
        margin-right: 80px;
    }

    .menu {
        justify-content: flex-end;
    }

    .header-bar.show-menu {
        margin-top: 350px !important;
    }

    .menu.open {
        top: -350px;
        height: 350px;
        background: #5e1823;
        margin: 0;
        justify-content: center;
        flex-direction: column;
    }
}

.jakeandbeka {
    font-family: 'Amatic SC', cursive;
    font-size: 120px;
    color: white;
    text-align: center;
    margin: 0;
}

.subtitle {
    font-family: 'Dancing Script', cursive; 
    font-size: 60px;
    color: white;
    text-align: center;
}

.row {
    margin: 0 !important;
}

.header-bar {
    background-image: url('/img/nick-karvounis-8PnMHV05UHU-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

#gallery .thumbnail {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 400px;
    height: 250px;
}

@media(max-width: 875px) {
    #gallery .thumbnail {
        width: 300px;
        height: 185px;
    }
}

.engagement-pic {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.shade {
    background: #333;
    opacity: 15%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blue-background {
    background-color: #2c3544;
}

.ourstory {
    font-family: 'Dancing Script', cursive;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 70px;
}

h3 {
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-align: center;
    padding-bottom: 25px;
}

.content {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-align: center;
    padding-bottom: 25px;
}

.rec-details {
    padding-top: 25px;
    padding-bottom: 25px;
}

.registry-cta {
    width: 100%;
    text-align: center;
}

.registry-cta a {
    text-align: center; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none;
}

.versions {
    text-align: left;
    color: white;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}

.green-words {
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    color: #38462c;
    text-align: center;
    padding-bottom: 25px;
}

.g-recaptcha {
    justify-content: center;
}

.rsvp-alert {
    position: fixed;
    bottom: 10px;
    right: 20px;
    border: 1px solid;
}

#rsvp-results {
    height: 100vh;
    padding-top: 30px;
}

#rsvp-results .table {
    background-color: white;
}

.countdown {
    width: 100%;
    font-size: 30px;
    bottom: 10%;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    transform: scale(.6);  
}

.countdown .time-set {
    margin: 0 10px;
}

.countdown .title {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.countdown .digit {
    position: relative;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 8px;
    height: 60px;
    width: 50px;
    text-align: center;
    font-size: 40px;
    margin: 10px 5px;
}

.countdown .digit-set {
    display: flex;
    justify-content: flex-start
}

.countdown .digit span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: #5e1823;
}

.countdown .digit .top, .countdown .digit .top-back {
    height: 50%;
    overflow: hidden;
    backface-visibility: hidden;
}

.countdown .digit .top:after, .countdown .digit .bottom:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.countdown .digit .top {
    z-index: 3;
    background-color: #f7f7f7;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: perspective(200px);
}

.countdown .digit .bottom {
    z-index: 1;
}

.countdown .digit .bottom:before {
    content: "";
    position: absolute;
    display: block; 
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, .02);
}

.countdown .digit .bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;    
    background-color: #f7f7f7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.countdown .digit .bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.countdown .digit .top-back {
    z-index: 4;
    bottom: 0;
    background-color: #fff;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    transform: perspective(200px);
    transform: rotateX(180deg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.countdown .digit .top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
}

@media(max-width: 450px) {
    .countdown {
        transform: scale(.5);
        bottom: 5%;
    }
}
@media(max-width: 340px) {
    .countdown {
        transform: scale(.4);
        bottom: 0;
    }

    .thumbnail {
        width: 280px !important;
    }
}

hr {
    border-top: 3px;
    border-style: double;
    width: 70%;
    color: white;
    padding-bottom: 50px;
}

.white-background {
    background-color: white;
}

.gallery {
    font-family: 'Dancing Script', cursive;
    color:  #2c3544;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 70px;
}

.blue-line {
    border-top: 3px;
    border-style: double;
    width: 70%;
    color: #2c3544;
    padding-bottom: 50px;
}

.thumbnail {
    display: inline-block;
    width: 300px;
    height: 185px;
    margin: 10px;
}

.thumbnail-border {
    border-style: solid;
    border-color: #2c3544;
    border-width: 3px;
}

.thumbnail-text {
    color: #b2c2bf;
    text-align: center;
}

.thumbnail-container {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    padding-bottom: 110px;
}

.red-background {
    background-color: #5e1823;
}
.rsvp {
    font-family: 'Dancing Script', cursive;
    color: #5e1823;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 70px;
}

.registry {
    font-family: 'Dancing Script', cursive;
    color:  #38462c;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 70px;
}

.red-line {
    border-top: 3px;
    border-style: double;
    width: 70%;
    color: #5e1823;
    padding-bottom: 50px;
}

.green-background {
    background:  #38462c;
}

.updates {
    font-family: 'Dancing Script', cursive;
    color:  white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 70px;
}

.reception {
    font-family: 'Dancing Script', cursive;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 70px;   
}

.green-line {
    border-top: 3px;
    border-style: double;
    width: 70%;
    color: #38462c;
    padding-bottom: 50px;
}
